@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.section1 {
  width: 100%;
}
.section1__header {
  margin: 30px 0 30px 0;
}
.section1__header h1 {
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 25px;
}
.section1__header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.section1__header__nav__busqueda li {
  list-style: none;
}
.section1__header__nav__busqueda li i {
  margin-right: 5px;
}

.section1__header__nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.section1__header__nav ul li {
  cursor: pointer;
}
.section1__header__nav ul li:hover {
  color: #ec981a;
}
.section1__header__nav__login--shop {
  display: flex;
  align-items: center;
  gap: 20px;
  /* margin-left: 100px; */
}
.section1__header__nav__login--shop li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.section1__header__nav__login--shop li i {
  font-size: 22px;
}
.section1__header__nav__login--shop li a {
  text-decoration: none;
}
.section1__header__nav__login--shop li a:hover {
  color: #ec981a;
}
.section1__home {
  max-width: 100%;
  height: 80vh;
  background-image: url("../img/home.webp");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.section1__home__redees__sociales {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  right: 40px;
}
.section1__home__redees__sociales i {
  margin-top: 20px;
  font-size: 30px;
}
.section1__home__chat {
  background-color: #000;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  right: 0;
}
.section1__home__chat:hover {
  background-color: rgb(31, 30, 30);
}
.section1__home__chat i:hover {
  color: rgb(238, 216, 15);
}
.section1__home__chat i {
  font-size: 25px;
  padding-right: 10px;
}
.section2 {
  margin-top: 60px;
}
.section2 h2 {
  text-align: center;
  margin-bottom: 20px;
}
.section2__products {
  /* margin: 20px 30px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* gap: 60px; */
}
.section2__products--card {
  margin: 10px;
}
.section2__products--card img {
  width: 100%;
  height: 200px;
}
.section2__products--card p {
  text-align: center;
  margin-top: 5px;
}
.section2__products--card span {
  text-align: center;
}
.section2__products--card__btn {
  width: 100%;
  height: 30px;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.section2__btnshop {
  width: 300px;
  height: 50px;
  margin: auto;
  background-color: #000;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* FOOTER */
.footer {
  margin: 30px;
}
.footer h2 {
  text-align: center;
}
.footer__info {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.footer__info ul {
  list-style: none;
}
.footer__info ul li a {
  text-decoration: none;
  color: #000;
}
.footer__info ul li a:hover {
  color: #ec981a;
}
.footer__info__nav__socials .redes {
  margin-left: 30px;
  color: #000;
}
.footer__busqueda {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__busqueda p {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.623);
}
.footer__busqueda__box input {
  width: 300px;
  height: 40px;
  outline: none;
}
.footer__busqueda__box button {
  height: 40px;
  padding: 0 5px 0 5px;
  background-color: #000;
  color: #fff;
}
body p {
  text-align: center;
  font-weight: 200;
}
.hidden {
  display: none;
}
/* breakpoints  */

@media screen and (max-width: 320px) {
  /* Estilos para dispositivos móviles */
}
@media screen and (max-width: 768px) {
  /* Estilos para tabletas en orientación vertical */
  .section1__header__nav ul {
    display: none;
  }
  .section1__header__nav__busqueda li {
    display: none;
  }
  .hidden {
    display: block;
  }
  .section1__header__nav__login--shop li:first-child {
    display: none;
  }
  .section1__header__nav__login--shop li i {
    font-size: 30px;
  }
  .section1__header__menu {
    font-size: 30px;
  }
  .section1__header__nav {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer__info {
    flex-direction: column;
    gap: 30px;
  }
  .footer__busqueda__box input {
    width: 100%;
  }
  .footer__busqueda__box button {
    margin-top: 5px;
    width: 100%;
    outline: none;
    border-style: none;
  }
}
@media screen and (max-width: 1024px) {
  /* Estilos para pantallas de escritorio */
}
@media screen and (max-width: 2560px) {
  /* Estilos para pantallas 4K */
}
